.menu-container {
	position: relative;
	width:70%;
	margin-left:auto;
	margin-right: auto;
}

.menu-container:a:link {
	color:black;
}

.loading-icon-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.category-caption {
	text-align:center;
	text-shadow: 2px 2px 5px grey;
	font-size: 30px;
	font-style: italic;
}
.category-ul {
	list-style-type:none;
	margin: 0;
	padding:0;
	
}
.category-item {
	display: inline;
}
.category-item a{
	border-style: solid;
	border-width: 1px;
	margin:10px;
	padding: 10px; 
	text-align: center;
	font-size: 20px;
	text-shadow: 1px 1px 5px black;
}
.category-item-a:hover {
	color:red;
}
